body, html 
{
	background-color: #fff;
	min-height: 100%;
}
#matrix
{
	margin: 0 auto 5em;
	border: 1px solid #999;
}

#matrix #back
{
	width: 100%;
	height: 100%;
}

#matrix .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;	
}

#start {
	font-size: 2em;
	padding: 0.5em 1em;
}

.meta {
	margin: 1rem auto;
	width: 400px;
}